* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(38, 38, 100);
    color: white;

}

nav {
    height: 60px;
    background-color: rgb(62, 62, 162);
    gap: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {

    margin: 0 23px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: rgb(138, 138, 189);
    font-size: 1.1rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 0;

}

.firstsection>div {

    width: 30%;

}
.leftsection .button{
  padding: 50px 0;
}

.leftsection {

    font-weight: bolder;
    font-size: 2.5rem;

}


.leftsection .btn {

    padding: 8px;
    background-color: #5656c2;
    border-radius: 6px;
    border: 2px slid white;
    border: 2px solid white;
    font-size: 15px;
    cursor: pointer;
    color: white;
}



.purple {
    color: blueviolet;
}

.rightsection {

    padding-left: 60px;
}

.rightsection img {

    border-radius: 800px;
    margin: 50px 0;
    width: 60%;

}

#element {
    color: blueviolet
}

.secondsection {
    max-width: 80vw;
    margin: auto;

}

.text-gray {
    color: gray;

}

.secondsection {

    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

main hr {
    border: 0px;
    background-color: rgb(108, 108, 193);
    height: 1.1px;
    margin: 20px 35px;

}

.secondsection .box {
    display: flex;
    background: white;
    height: 1px;
    margin: 56px 0;
    width: 77vw;

}

.secondsection .vertical {
    background-color: white;
    height: 90px;
    width: 1px;
    margin: 0 110px;
}

.img-top {
    position: relative;
    top: -80px;
    left: -29px;
    width: 100px;
}

.vertical-title {
    color: white;
    position: relative;
    width: 150px;
    top: -10px;
}

.vertical-desc {
    position: relative;
    color: gray;
    top: 5px;
    width: 158px;
    font-size: 12px;
}

.currection {
    position: relative;
    width: 150px;
    top: -70px;
    left: -40px;
}

.update {
    color: white;
    position: relative;
    width: 150px;
    top: 5px;
}

.updates {
    position: relative;
    color: gray;
    top: 22px;
    width: 158px;
    font-size: 12px;
}

footer {

    background-color: rgb(9, 9, 42);
}

.footer {

    display: flex;
    justify-content: space-evenly;
    padding: 23px 112px;
}

.footer>div {
    width: 223px
}

.footer-second {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22x;
}

.footer ul {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 5px;

}

.footer ul li {

    list-style: none;

}

footer .footer-right {
    text-align: center;
    color: gray;
    padding: 12px 0;
}


/* Desktop ke liye 
@media (min-width: 1024px) {
  .menu ul {
    display: flex;
    list-style: none;
    background: lightblue;
    padding: 10px;
    gap: 30px;
    font-size: 22px;
  }
}

 Mobile ke liye 
@media (max-width: 600px) {
  .menu ul {
    display: block;
    list-style: none;
    background: lightgreen;
    padding: 10px;
  }
  .menu ul li {
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px solid black;
  }
} */